#cookie-consent {

    > div {
        z-index: 9999!important;
    }

    a {
        text-decoration: underline;
        color: $primary;

        &:hover {
            opacity: .8;
        }
    }

    button {
        min-width: 75px;
        margin: 10px!important;

        &.btn-primary {
            background-color: $grey!important;

            &:hover {
                opacity: .8;
            }
        }

        &.btn-danger {
            background-color: $primary!important;
            color: black!important;

            &:hover {
                opacity: .8;
            }
        }
    }
}