@mixin background-svg($color) {
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-image: url(../images/frame-portrait.svg);
  mask-image: url(../images/frame-portrait.svg);
  background-color: $color;
}

@mixin country-label-underline($color) {
  backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: translateZ(0);
    will-change: transform;
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 6px;
    left: 0px;
    z-index: -1;
    background: $color;
    transition: all 0.35s cubic-bezier(0.07, 0.71, 0.1, 0.9);
    transform: translate3d(0, 100%, 0);
}

.person-title {
  font-family: "Dharma Punk 2";
  font-size: 4rem;
  line-height: 2.8rem;
}

.poet .person-title {
  font-size: 4rem;
  line-height: 2.8rem;
}

.jury .person-title {
  font-size: 3rem;
  line-height: 2rem;
}

.person-image {
  position: relative;
  @include background-svg(#000);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px 15px 15px 15px;

  &:hover {
    &.armenia {@include background-svg($armenia); }
    &.georgia {@include background-svg($georgia); }
    &.moldova {@include background-svg($moldova); }
    &.ukraine {@include background-svg($ukraine); }
    &.germany {@include background-svg($germany); }
  }

  img {
    width: 100%;
    height:auto;
    } 
}

.jury .person-image {
  padding: 10px;
}

.country-label {
  position: relative;
  z-index: 0;
  font-size: 1.25rem;

  &.armenia {
    &:after { @include country-label-underline($armenia); }
  }
    &.georgia {
      &:after { @include country-label-underline($georgia); }
      }
    &.moldova {
      &:after {@include country-label-underline($moldova); }
    }
    &.ukraine {
      &:after {@include country-label-underline($ukraine); }
    }

    &.germany {
      &:after {@include country-label-underline($germany); }
    }
}